[language-server]
ecsact_lsp_server = { command = "ecsact_lsp_server", args = ["--stdio"] }
mdpls = { command = "mdpls", args = [] }
clangd = { command = "clangd", args = ["--enable-config"] }

# Unity projects take forever to load
omnisharp = { command = "OmniSharp", args = [ "--languageserver" ], timeout = 3000 }

[language-server.quick-lint-js]
command = "quick-lint-js"
args = [ "--lsp-server" ]

[language-server.tailwindcss]
command = "hx-tw"
args = ["--stdio"]

[language-server.starlark]
command = "starlark"
args = ["--bazel", "--lsp"]

[[language]]
name = "starlark"
formatter = { command = "buildifier" }
language-servers = ["starlark"]
auto-format = true

[[language]]
name = "unity-meta"
scope = "source.yaml"
file-types = ["meta"]
roots = ["ProjectSettings/ProjectVersion.txt"]
comment-token = "#"
indent = { tab-width = 2, unit = "  " }
language-servers = [ "yaml-language-server" ]
grammar = "yaml"
# icon = { text = "", color = "#626262" }

[[language]]
name = "unity-asset"
scope = "source.yaml"
file-types = ["asset"]
roots = ["ProjectSettings/ProjectVersion.txt"]
comment-token = "#"
indent = { tab-width = 2, unit = "  " }
language-servers = [ "yaml-language-server" ]
grammar = "yaml"
# icon = { text = "", color = "#00cccc" }

[[language]]
name = "unity-anim"
scope = "source.yaml"
file-types = ["anim"]
roots = ["ProjectSettings/ProjectVersion.txt"]
comment-token = "#"
indent = { tab-width = 2, unit = "  " }
language-servers = [ "yaml-language-server" ]
grammar = "yaml"
# icon = { text = "", color = "#b83c82" }

[[language]]
name = "unity-controller"
scope = "source.yaml"
file-types = ["controller"]
roots = ["ProjectSettings/ProjectVersion.txt"]
comment-token = "#"
indent = { tab-width = 2, unit = "  " }
language-servers = [ "yaml-language-server" ]
grammar = "yaml"
# icon = { text = "", color = "#ff7f33" }

[[language]]
name = "unity-scene"
scope = "source.yaml"
file-types = ["unity"]
roots = ["ProjectSettings/ProjectVersion.txt"]
comment-token = "#"
indent = { tab-width = 2, unit = "  " }
language-servers = [ "yaml-language-server" ]
grammar = "yaml"
# icon = { text = "", color = "#ff0066" }

[[language]]
name = "ecsact"
scope = "source.ecsact"
injection-regex = "ecsact"
file-types = ["ecsact"]
comment-token = "//"
indent = { tab-width = 2, unit = "  " }
language-servers = [ "ecsact_lsp_server" ]
roots = []
# icon = { text = "", color = "#cf9114" }

[[language]]
name = "markdown"
language-servers = [ "mdpls" ]


[[language]]
name = "javascript"
language-servers = ["typescript-language-server", "quick-lint-js"]

[[language]]
name = "cpp"
auto-format = true

[[language]]
name = "cpp2"
scope = "cpp2"
file-types = ["cpp2"]

[[grammar]]
name = "ecsact"
source = { git = "https://github.com/ecsact-dev/tree-sitter-ecsact", rev = "572a812765eb861af11fd0debfd894160003ccf9" }
# copy-queries = true

[[grammar]]
name = "cpp2"
source = { git = "https://github.com/APokorny/tree-sitter-cpp2", rev = "02d261f5377663a77ae4dfa1a970e815f56ad7f6" }
